 /*Home*/

 .cardContainer {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
}

.cardForecast {
 width: 20%;
 float: left;
}


 /* Extra small devices (phones, 600px and down) */

 @media only screen and (max-width: 600px) {
  .cardForecast {
    width: 100%;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .cardForecast {
    width: 50%;
   }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .cardForecast {
    width: 50%;
   }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .cardForecast {
    width: 50%;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .cardForecast {
    width: 20%;
   }
}






