 .btn-primary-custom {
   color: #FFF !important;
   background-color: #35B031 !important;
   border-color: #35B031 !important;
 }

 .btn-primary-custom:hover {
   background-color: green !important;
   border-color: green !important;
 }

 /*CARD*/

 @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
 body {
   font-family: Montserrat, sans-serif;
   margin: 0;
 }

 .cardData {
   background: #fff;
   box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
   width: 70%;
   min-width: 200px;
   display: flex;
   flex-direction: row;
   border-radius: 6px;
   position: relative;
 }
